.modalComponent {
    position: absolute;
    z-index: 1000;
    padding-left: 200px;
}


.signInModalBackground {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: rgba(50, 60, 43, 0.6);
    /* means its hidden  */
    opacity: 0;
    /* means even if its hidden, you cant accidentally interact with it BUT this prevents sign-up typing*/
    pointer-events: none;
    transition: opacity 0.4s ease-in-out;
    /* for some reason this stopped the button (and maybe all of modal?) from appearing at the bottom of the page */
    display: flex;
}

.modalShowing-true {
    opacity: 1;
    pointer-events: visible;
    color: tomato;
}

/* .modalInner {
    position: fixed;
    width: 300px;
    height: 300px;
    background: #dddac6;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px;
} */