
.signInModalComponent {
    position: absolute;
    z-index: 1000;
    padding-left: 200px;
}


.signInModalBackground {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: rgba(30, 38, 25, 0.6);
    /* means its hidden  */
    opacity: 0;
    /* means even if its hidden, you cant accidentally interact with it BUT this prevents sign-up typing*/
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
    /* for some reason this stopped the button (and maybe all of modal?) from appearing at the bottom of the page */
    display: flex;
}

.modalShowing-true {
    opacity: 1;
    pointer-events: visible;
    color: tomato;
}



.signInModalInner {
    /* width: 200px; */
    /* provides extra padding on right for when we reduce screen size */
    max-width: calc(100% - 60px);
    /* because we have .modalBackground display set to 'flex', this will center the imagine */
    margin: auto;
}

.loginLogout {
    position: fixed;
    bottom: 0;
    left: 0;
    /* padding-top: 35px; */
    padding-left: 25px;
    padding-bottom: 10px;
    color: #dfdac4;
    text-shadow: 1px 1px 2px black, 0 0 25px #acbd86, 0 0 5px black;
    font-size: 25px;
}