* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: papyrus, Luminari, Marker Felt;
    /* color: teal; */
}

.info-icon {
    padding-top: 35px;
    padding-left: 40px;
    color: purple;
    font-size: 45px;
}

.sidebar {
    background-color: #060b26;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: teal;
}
/* 
.menu-bars {
    /* margin-left: 2rem;
    font-size: 2rem; */
    /* background: none; */
/* }  */

.side-menu {
    background-color: #060b26;
    width: 250px;
    height: 33vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    /* this is what moves it so far to the left that its hidden */
    left: -100%;
    transition: 850ms;
}

.side-menu.active {
    left: 0;
    transition: 350ms;
}

.side-text {
    /* removes the underline */
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    height: 60px;
    width: 95%;
    display: flex;
    align-items: center;
    /* padding: 0 16px; */
    border-radius: 4px;
    display: flex;
    justify-content: start;
    align-items: center;
    /* this padding shows up to the left when you hover over the button (and color changes) */
    padding: 10px 0px 8px 20px;
    list-style: none;
}
/* .closer :hover {
    background-color: #3a1a6f;
 */
/* } */

.closer {
    padding: 12px;
}

.side-text :hover {
    background-color: #a9805c;
    border-radius: 5px;
    padding: 5px 5px 0px 5px;
}

.side-menu-items {
    width: 100%;
}

/* .sidebar-toggle {
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
} */

span {
    margin-left: 16px;
}