* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: papyrus, Luminari, Marker Felt;
    /* color: teal; */
}

.info-area {
    /* The element is positioned relative to its first positioned (not static) ancestor element	 */
    position: absolute;
    /* stack-level.  higher number, further to the front.  I think 'auto' is all the way in the back */
    /* not sure why 100 doesnt work but 1000 does */
    z-index: 1000;
}

.info-icon {
    padding-top: 20px;
    padding-left: 25px;
    color: #dfdac4;
    text-shadow: 1px 1px 2px black, 0 0 25px #acbd86, 0 0 5px black;
    font-size: 45px;
    /* border: 1px solid purple; */
}



/* this isnt really used
.sidebar {
    background-color: #a51d73;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: teal;
} */
/* 
.menu-bars {
    /* margin-left: 2rem;
    font-size: 2rem; */
    /* background: none; */
/* }  */

.side-menu {
    background-color: #dddac6;
    /* border-right:2px solid black, 0 0 25px #acbd86, 0 0 5px black; */
    border-right:2px solid rgb(63, 16, 97);
    line-height:4em;
    box-shadow: 1px 1px 2px #000000;
    /* #aebd7c */
    /* this stays set with sizing */
    width: 220px;
    /* this changes with resizing but text doesnt fully match with side-text*/
    height: 33vh;
    /* border-radius: 20px; */
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    /* this is what moves it so far to the left that its hidden */
    left: -100%;
    transition: 850ms;
}

.side-menu.active {
    left: 0;
    transition: 350ms;
}

.side-text {
    /* removes the underline */
    text-decoration: none;
    color: #5a443c;
    font-size: 18px;
    /* allows it to adjust with screen-resizing, but is not coordinated with side-menu height */
    height: 6vh;
    width: 95%;
    display: flex;
    align-items: center;
    /* padding: 0 16px; */
    border-radius: 4px;
    display: flex;
    justify-content: start;
    align-items: center;
    /* this padding shows up to the left when you hover over the button (and color changes) */
    padding: 10px 0px 8px 20px;
    list-style: none;
}
/* .closer :hover {
    background-color: #3a1a6f;
 */
/* } */

.closer {
    padding: 12px;
}

.side-text :hover {
    background-color: #ced1a0;
    border-radius: 5px;
    padding: 5px 5px 0px 5px;
}

.side-menu-items {
    width: 100%;
}

/* .sidebar-toggle {
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
} */

span {
    margin-left: 16px;
}

