* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: papyrus, Luminari, Marker Felt;
    /* color: teal; */
}

.info-icon {
    padding-top: 35px;
    padding-left: 40px;
    color: purple;
    font-size: 45px;
}

/* this isnt really used
.sidebar {
    background-color: #a51d73;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: teal;
} */
/* 
.menu-bars {
    /* margin-left: 2rem;
    font-size: 2rem; */
    /* background: none; */
/* }  */

.side-menu {
    background-color: #060b26;
    /* this stays set with sizing */
    width: 250px;
    /* this changes with resizing but text doesnt fully match with side-text*/
    height: 33vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    /* this is what moves it so far to the left that its hidden */
    /* left: -100%; */
    transition: 850ms;
}

.side-menu.active {
    left: 0;
    transition: 350ms;
}

.side-text {
    /* removes the underline */
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    /* allows it to adjust with screen-resizing, but is not coordinated with side-menu height */
    height: 6vh;
    width: 95%;
    display: flex;
    align-items: center;
    /* padding: 0 16px; */
    border-radius: 4px;
    display: flex;
    justify-content: start;
    align-items: center;
    /* this padding shows up to the left when you hover over the button (and color changes) */
    padding: 10px 0px 8px 20px;
    list-style: none;
}
/* .closer :hover {
    background-color: #3a1a6f;
 */
/* } */

.closer {
    padding: 12px;
}

.side-text :hover {
    background-color: #a9805c;
    border-radius: 5px;
    padding: 5px 5px 0px 5px;
}

.side-menu-items {
    width: 100%;
}

/* .sidebar-toggle {
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
} */

span {
    margin-left: 16px;
}

.modalBackground {
    /* means its hidden  */
    opacity: 0;
    /* means even if its hidden, you cant accidentally interact with it */
    pointer-events: none;
    transition: opacity 0.4s ease-in-out;
    /* for some reason this stopped the button (and maybe all of modal?) from appearing at the bottom of the page */
    position: absolute;
    /* left: 0;
    right: 0; 
    bottom: 0;
    top: 0; 
    width: 100%; 
    height: 100%;  */
    background-color: grey;
    display: flex;

}

.modalShowing-true {
    opacity: 1;
    pointer-events: showing;
    color: tomato;
}

.modalInner {
    width: 900px;
    /* provides extra padding on right for when we reduce screen size */
    max-width: calc(100% - 60px);
    /* because we have .modalBackground display set to 'flex', this will center the imagine */
    margin: auto;
}

.modalImage img {
    width: 100%;
}