.welcomeComponent {
    /* z-index: 1000; */
}

p.welcome {
    padding-top: 20px;
    padding-left: 25px;
    /* color: #dfdac4; */
    color: #cd7920;
    text-shadow: 4px 3px 2px #140901;
    font-size: 65px;
    position: absolute;
    /* z-index: 1000; */
    /* padding-left: ; */
    padding-left: 35%;
    padding-top: 20%;
}

.welcomeBackground {
    position: fixed;
    /* z-index: 1000; */
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: #120f0899;
    /* background: rgba(30, 38, 25, 0.6); */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.welcomeShowing-true {
    opacity: 1;
    pointer-events: visible;
    color: tomato;
    z-index: 1000;
}


.message {
    padding-top: 20px;
    padding-left: 25px;
    /* color: #dfdac4; */
    color: #dc680b;
    text-shadow: 0px -1px 4px #000;
    font-size: 20px;
    position: absolute;
    z-index: 1000;
    /* padding-left: ; */
    padding-left: 80%;
    /* padding-top: 20%; */
}