

form {
    /* margin-top: 2em; */
    /* margin-bottom: 2em; */
    /* height: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form {
    overflow: hidden;
    align-items: center;
    margin: 10px;
}

/* .form > h1 {
    margin-bottom: 30px;
} */

.form > input,
textarea {
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.137);
    /* margin-bottom: 5px; */
    margin: 5px;
    border: 1px solid rgb(189, 188, 188);
    /* input block color */
    background: #e0dec7;
    /* inside input block */
    font-size: 16px;
    color: #5e443c;
    /* outline: none; */
}

/* when you start typing in 'description' box */
/* ???only impacts description and not rtip name or location, why???? */
.form > input:focus,
textarea:focus {
    border: 3px solid #5e443c;
}

/* how wide/tall to make 'description' area */
.form > textarea {
    height: 150px;
    width: 250px;
    max-width: 400px;
}

.form > label {
    padding-top: 5px;
    color: #46332d;
    font-size: 18px;
    font-weight: bold;
}

.form > button.add-trip-button {
    margin-top: 5px;
    background-color: #b48475;
    border-color: #7e5b50;
    font-size: 20px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    width: 50%;
    padding: 5px 0;
}

.form > button.add-trip-button.loading {
    background-color: grey;
}

.form > button:hover {
    background-color: #7e5b50;
    border-color: #b48475;
}

/* .bubble {
    min-width: 400px;
} */



.drop-down {
    margin: .5em;
}

.photo-upload-button {
    padding-left: 28px;
    /* margin: 0px; */
    /* font-weight: 500; */
    width: 101px;
    font-size: 16px;
    border-radius: 15px;
    background-color: #cdcea2;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    /* ???Why wont thse change?? */
    font-family: papyrus, Luminari, Marker Felt;
    color: #fff;
    /* background-color: palevioletred; */
}


input[type=file]::file-selector-button {
    border: 2px solid #414843;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #aab3a4;
    transition: 1s;
}

input[type=file]::file-selector-button:hover {
    background-color: #414843;
    border: 2px solid #aab3a4;
    color:rgb(189, 188, 188)
}

.output {
    font-size: 14px;
    font-weight: bold;
    color: rgb(169, 84, 20);
}

/* .enteredInfo{
    font-size: 15px;

} */


