/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* 
body {
    background-color: rgb(141, 125, 184);
} */

/* body,
input,
textarea,
button {
    font-family: papyrus, Luminari, Marker Felt;
} */



/* .app {
    width: 400px;
    margin: 0 auto;
    height: 100vh;
} */

form {
    /* margin-top: 2em; */
    margin-bottom: 2em;
    /* height: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form {
    overflow: hidden;
    align-items: center;
}

/* .form > h1 {
    margin-bottom: 30px;
} */

.form > input,
textarea {
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.137);
    margin-bottom: 5px;
    border: 1px solid rgb(189, 188, 188);
    /* input block color */
    background: #e0dec7;
    /* inside input block */
    font-size: 16px;
    color: rgb(63, 16, 97);
    /* outline: none; */
}

/* when you start typing in 'description' box */
/* ???only impacts description and not rtip name or location, why???? */
.form > input:focus,
textarea:focus {
    border: 3px solid rgb(63, 16, 97);
}

/* how wide/tall to make 'description' area */
.form > textarea {
    height: 150px;
    width: 250px;
    max-width: 400px;
}

.form > label {
    padding-bottom: 1px;
    color: rgb(63, 16, 97);
    font-size: 18px;
    font-weight: bold;
}

.form > button.add-trip-button {
    margin-top: 5px;
    background-color: rgb(63, 16, 97);
    font-size: 20px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    width: 50%;
    padding: 5px 0;
}

.form > button.add-trip-button.loading {
    background-color: grey;
}

/* .form > button:hover {
    background-color: rgb(0, 0, 196);
} */

/* .bubble {
    min-width: 400px;
} */



.drop-down {
    margin: .5em;
}

.photo-upload-button {
    padding-left: 29px;
    margin: 0px;
    /* font-weight: 500; */
    width: 10em;
    font-size: 16px;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    /* ???Why wont thse change?? */
    font-family: papyrus, Luminari, Marker Felt;
    border-radius: 15px;
    color: #fff;
    /* background-color: palevioletred; */
}

/* ????why wont this work? */
.photo-upload-button :hover {
    background-color: #d87caf;
    border-radius: 5px;
    width: auto;
}
