.leaflet-container {
    width: 100%;
    height: 100vh;
}
  
.leaflet-popup-content {
  margin: 0px;
}

.leaflet-touch .leaflet-bar a:last-child, a:first-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #bdc993;
}

.map {
  /* border: 85px solid rgb(63, 16, 97); 
  border-bottom: 120px rebeccapurple; */
}

.App {
  text-align: center;
}

.pop-up-bubble {
    padding: 1em;
    border: 5px solid #5e443c;
    min-height: 500px;
    min-width: 325px;
    /* padding-right: 30px; */
    border-radius: 1em;
    background-color: #cdcea2;
    font-family: papyrus, Luminari, Marker Felt;
    color: rgb(63, 16, 97);
}

.pop-up-img {
    max-height: 30px;
}

 
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  