/* ???why isnt this applying? (needed to manually put it in all individual files0 */
* {
  font-family: papyrus, Luminari, Marker Felt;
}


.leaflet-container {
  width: 100%;
  height: 100vh;
}

.leaflet-popup-content-wrapper {
  padding: 0px;
}

/* .leaflet-popup-content {
  width: ;
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* put inside of tripUpload.css instead
.pop-up-bubble {
  border: 5px solid rgb(63, 16, 97);
  min-height: 500px;
  min-width: 300px;
} */

/* .pop-up-img {
  max-height: 300px;
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
