* {
  /* this is critical for making sure there are no hite spaces between the tiles and at edge of map */
  margin: 0;
  /* padding: 0; */
  font-family: papyrus, Luminari, Marker Felt;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}

.leaflet-popup-content-wrapper {
  padding: 0px;
}

/* .leaflet-popup-content {
  width: ;
} */

.App {
  text-align: center;
}
/* 


/* put inside of tripUpload.css instead
.pop-up-bubble {
  border: 5px solid rgb(63, 16, 97);
  min-height: 500px;
  min-width: 300px;
} */

/* .pop-up-img {
  max-height: 300px;
} */
