/* ???why isnt this applying? (needed to manually put it in all individual files0 */
* {
  font-family: papyrus, Luminari, Marker Felt;
}

/* .app2 {
  padding: 100px;
} */

.leaflet-container {
  width: 100%;
  height: 100vh;
}

.leaflet-popup-content-wrapper {
  padding: 0px;
}

/* .leaflet-popup-content {
  width: ;
} */

.App {
  text-align: center;
}
/* 


/* put inside of tripUpload.css instead
.pop-up-bubble {
  border: 5px solid rgb(63, 16, 97);
  min-height: 500px;
  min-width: 300px;
} */

/* .pop-up-img {
  max-height: 300px;
} */
